<div class="page" id="gleba-page">

    <h1>Welcome to Gleba!!!</h1>


    <div id="action-containers" class="container">
        <div class="console-log-buttons">
            <button (click)="logToConsole()">I log to the console</button>
            <button (click)="addSVGTag()">Click to add SVG</button>
            <button (click)="changeColor()">Click to change color</button>
            <button (click)="addDot()">Add dot</button>
        </div>
        <hr>
        <div id="viz"></div>
    </div>

    <p>You can use this as a scratchpad...</p>

    <h1 class="list-title">Tools I want to use</h1>
    <div class="list" id="tool-list">
        <ul>
            <li>P5</li>
            <li>D3</li>
            <li>neo4j</li>
            <li>ClojureScript</li>
        </ul>
    </div>

    <!-- Questions... -->

    <div class="container">
        <h1>Questions</h1>
        <ul class="list">
            <li class="question">How do I move rows of text?</li>
            <li class="question">When will I grow up?</li>
            <li class="question">Who was the worst president?</li>
            <li class="question">When will I know when to move on?</li>
        </ul>
    </div>



    <!-- Quotes... -->
    <div class="container" id="quotes">
        <h1 class="title">Quotes</h1>
        <ul class="list">
            <li class="quote">
                The oldest and strongest emotion of mankind is fear, and the oldest and strongest kind of fear is fear of the unknown.
            </li>
            <li class="quote"></li>
            <li class="quote"></li>
        </ul>

    </div>
</div>
